@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
    background-color: #242323;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navMenu {
  margin: 1% 0;
  position: relative;
}

.navMenu a {
  color: #d6d6d6;
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 0 1%;
}

.navMenu a:hover {
  color: #cc8739;
}

.index_image {
    position: relative;
    height: 100%;
    width: 100%;
}

.index_image img {
    width: 100%;
}

.text_on_image {
    color: #d6d6d6;
    font-size: 3vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}

.title_section {
  color: #d6d6d6;
  font-size: 2.5vw;
  text-align: center;
}

.block_project {
  background-color: #171616;
  width: 70%;
  display: flex;
  flex-direction: row;
  margin: auto;
  border-radius: 2vw;
  margin-bottom: 10vh;
}

.project_pic {
  width: 33%;
  margin: 2vw 0 2vw 2vw;
  display: flex;
  flex-direction: column;
  align-self: center;

}

.project_pic img {
  width: 100%;
}

.project_text {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 34%;
}

.project_title {
  color: #d6d6d6;
  font-size: 1.5vw;
  text-align: center;
  margin: 1.5vw;
}

.project_desc {
  color: #d6d6d6;
  font-size: 1vw;
  text-align: justify;
  font-style: italic;
  margin: 1.5vw;
}

.project_info {
  width: 33%;
  margin: 2vw 2vw 2vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.project_subtitle {
  color: #d6d6d6;
  font-size: 1.5vw;
  text-align: center;
  margin: 1.5vw 1.5vw 0 1.5vw;
}

.python {
  color: #bdaf39;
  font-size: 1.5vw;
  text-align: center;
}

.link_new_tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1.5vw;
}

.external_link {
  margin: 0 3px 0 5px;
  color: #d6d6d6;
  font-size: 1.2vw;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.external_link:hover {
  color: #cc8739;
}

.link_new_tab img {
  width: 1.2vw;
  margin: auto 0;
}

footer {
    color: #d6d6d6;
    /* position: absolute; */
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}