@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
    background-color: #242323;
    font-family: "Montserrat", sans-serif;
    /* display: flex; */
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
}

.divMenu {
  position: absolute;
  width: 100%;
}

.navMenu {
  margin: 1% 0;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}

.navMenu a {
  color: #d6d6d6;
  text-decoration: none;
  font-size: 2.5vw;
  /* font-weight: bold; */
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 0 1%;
}

.navMenu a:hover {
  color: #313030;
}

.navMenu p {
  color: #d6d6d6;
  text-decoration: none;
  font-size: 3vw;
  text-transform: uppercase;
  margin: -0.5vw;
  display: flex;
}

.index_image {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* background-color: red; */
}

.index_image img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.text_on_image {
    color: #d6d6d6;
    font-size: 3vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}

#projects {
  display: flex;
  flex-direction: column;
}

.title_section {
  color: #d6d6d6;
  font-size: 2.5vw;
  text-align: center;
}

.block_project {
  background-color: #313030;
  width: 70%;
  display: flex;
  flex-direction: row;
  margin: auto;
  /* border-radius: 2vw; */
  margin-bottom: 10vh;
  /* height: 25vh; */
}

.project_pic {
  width: 33%;
  margin: 2vw 0 2vw 2vw;
  display: flex;
  flex-direction: column;
  align-self: center;
  /* height: 100%; */

}

.project_pic img {
 /* height: inherit; */
 /* width: fit-content; */
 margin: 1.5vw;
}

.project_text {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 34%;
}

.project_title {
  color: #d6d6d6;
  font-size: 1.5vw;
  text-align: center;
  margin: 1.5vw;
}

.project_desc {
  color: #d6d6d6;
  font-size: 1vw;
  text-align: center;
  /* font-style: italic; */
  margin: 1.5vw;
}

.project_info {
  width: 33%;
  margin: 2vw 2vw 2vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.project_subtitle {
  color: #d6d6d6;
  font-size: 1.5vw;
  text-align: center;
  margin: 1.5vw 1.5vw 0 1.5vw;
}

.python {
  color: #bdaf39;
  font-size: 1.5vw;
  text-align: center;
}

.link_new_tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1.5vw;
}

.external_link {
  margin: 0 3px 0 5px;
  color: #d6d6d6;
  font-size: 1vw;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.external_link:hover {
  color: #cc8739;
}

.link_new_tab img {
  width: 1.2vw;
  margin: auto 0;
}

.div_links {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.div_link {
  display: flex;
  flex-direction: row;
}

.logo_link {
  height: 2.5vw;
  margin: 0.5vw -1.5vw 0 0;
}

footer {
    color: #d6d6d6;
    /* position: absolute; */
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 1.2vw;
    padding: 3vh 0;
}

@media (max-aspect-ratio: 53/61) {
  .navMenu {
    margin: 2vh 0;
  }

  .navMenu a {
    font-size: 8vw;
  }

  .navMenu p {
    font-size: 8vw;
    margin: -0.5vw;
    margin: 0 3vw;
  }

  .text_on_image {
    font-size: 10vw;
}

.title_section {
  font-size: 8vw;
}

.block_project {
  width: 90%;
  flex-direction: column;
}

.project_pic {
  width: 90%;
  margin: 5vw 0 2vw 2vw;

}

.project_text {
  flex-direction: column;
  width: 90%;
}

.project_title {
  font-size: 6.5vw;

}

.project_desc {
  font-size: 2vw;
}

.project_info {
  width: 100%;
  
}

.project_subtitle {
  font-size: 6vw;
}

.python {
  color: #bdaf39;
  font-size: 5vw;
  text-align: center;
}

.link_new_tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1.5vw;
}

.external_link {
  margin: 0 3px 0 5px;
  color: #d6d6d6;
  font-size: 5vw;
  text-align: center;
}

.external_link:hover {
  color: #cc8739;
}

.link_new_tab img {
  width: 5.5vw;
}

.div_links {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo_link {
  height: 8vw;
  margin: 0.5vw -1.5vw 0 0;
}

.div_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1vh;
}

footer {
  font-size: 4vw;
  padding: 3vh 0;
}

}
